<div class="filtr-item col-md-4 col-sm-6 col-xs-12" data-category="{{ .category }}">
    <div class="portfolio-list">
        <a href="portfolio-single.html">
            <div class="th-mouse-portfolio-card">
                <div class="thumbnail portfolio-thumbnail">
                    <img src="{{ .image }}" alt="{{ .image_alt }}">
                    <div class="caption portfolio-caption">
                        <p class="date">{{ .date }}</p>
                        <h3 class="portfolio-title">{{ .title }}</h3>
                        <p class="portfolio-subtitle">{{ .subtitle }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>