<div class="item">
    <!-- Slider item -->
    <!-- <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-0"> -->
    <div class="testimonials-area">
        <!-- <div class="round-shape"></div> -->
        <p class="testimonials-description">{{ .content }}</p>
        <div class="author">
            <img src="{{ .author_image }}" alt="{{ .author_image_alt }}">
            <h3 class="author-name">{{ .author_name }}</h3>
            <span class="designation">{{ .author_designation }}</span>
        </div>
    </div>
    <!-- </div> -->
    <!-- End Slider item -->
</div>