<div class="slider-item th-fullpage hero-area" style="background-image: url({{.background_image}}) ;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">{{ .heading }}{{if .subheading }}</br>{{ .subheading }}{{ end }}</h1>
                {{ if .content }}<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">{{ .content }}</p>{{ end }}
            </div>
        </div>
    </div>
</div>