<!-- Contact Us Sections
=========================-->
<section class="contact-call-to-action">
    <div class="shadow-block vh-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>{{ .heading }}</h2>
              <p>{{ .content }}</p>
              {{ partial "bookshop" (slice "generic/link" .link )}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "bookshop" (slice "generic/map" .map )}}
  </section>