<div class="col-md-4 col-lg-3 padding-0">
    <div class="team-member">
      <div class="th-mouse-effect">
        <div class="team-img">
          <img src="{{ .image }}" alt="{{ .image_alt }}">
        </div>
        <div class="overlay text-center">
          <div class="content">
            <h4>{{ .name }}</h4>
            <span>{{ .job_title }}</span>
            <p>{{ .description }}</p>
            
          </div>
          <div class="social-media">
            <li><a href="{{ .facebook_url }}"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li>
            <li><a href="{{ .twitter_url }}"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li>
            <li><a href="{{ .linkedin_url }}"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
            <li><a href="{{ .google_url }}"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li>
            <li><a href="{{ .instagram_url }}"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li>
          </div>
        </div>
      </div>
    </div>
  </div>