<!DOCTYPE html>
<html lang="en">
{{- partial "head/head.html" . -}}

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{ partial "nav.html" . }}
    <main>
        <!-- Render any additional page content below the page's content blocks -->
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="/plugins/jquery.min.js"></script>

    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/plugins/slick/slick.min.js"></script> 
    <!-- filter -->
    <script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- Lightbox -->
    <script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Parallax -->
    <script src="/plugins/parallax.min.js"></script>
    <!-- Video -->
    <script src="/plugins/jquery.vide.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{.Site.Data.company.google_maps_api_key}}"></script>
    <script src="/plugins/google-map/gmap.js"></script>

    <script src="/js/script.js" defer></script>
</body>

</html>