<!-- Portfolio Sections 
 =========================-->
<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ partial "bookshop" (slice "generic/heading" .heading )}}
                </div>
                <div class="protfolio-mixitup-btn text-center">
                    <button class="filter btn btn-default btn-main active" data-filter="all">all</button>
                    {{ range .buttons }}
                        {{ partial "bookshop" (slice "generic/filter-button" .)}}
                    {{ end }}
                </div>
                <div id="Container" class="filtr-container row">
                    {{ range .portfolio_items }}
                        {{ partial "bookshop" (slice "simple/portfolio-item" .)}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>