{{ partial "bookshop_bindings" `.Params.hero_blocks` }}
{{ partial "bookshop_partial" (slice "page" .Params.hero_blocks) }} 

<section data-pagefind-ignore class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ partial "bookshop_bindings" `.Params.content_blocks` }}
                {{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }} 
                <div class="protfolio-mixitup-btn text-center">
                    <button class="filter btn btn-default btn-main active" data-filter="all">all</button>
                    {{range $name, $taxonomy := .Site.Taxonomies.category}}
                        {{ partial "bookshop_bindings" `(dict "live_render" false)` }}
                        {{ partial "bookshop" (slice "generic/filter-button" (dict "category" $name )) }}
                    {{end}}
                </div>
                <div id="Container" class="filtr-container row">
                    {{ range (.Paginator (len (where .Site.Pages "Section" "portfolios"))).Pages }}
                            <div class="filtr-item col-md-4 col-sm-6 col-xs-12" data-category="{{ .Params.category }}">
                                <div class="portfolio-list">
                                    <a href="{{ .RelPermalink }}">
                                        <div class="th-mouse-portfolio-card">
                                            <div class="thumbnail portfolio-thumbnail">
                                                <img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}">
                                                <div class="caption portfolio-caption">
                                                    <p class="date">{{ .Date.Format "02.01.2006" }}</p>
                                                    <h3 class="portfolio-title">{{ .Params.title }}</h3>
                                                    <p class="portfolio-subtitle">{{ .Params.subtitle }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>